.container {
  display: flex;
  width: 100%;
  height: fit-content;
  position: relative;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 1rem;
  flex-shrink: 0;
  padding: 4rem max(1rem, calc(50vw - 37rem));
}

.createInfo {
  display: flex;
  align-items: flex-start;
  gap: 1.1875rem;
}

.profileImage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.25rem;
}

.inputArea {
  background-color: #eeeeee5b;
  border: none;
  min-width: 400px;
  border-radius: 0.875rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  height: fit-content;
}

.imgSelector {
  border-radius: 1.5rem;
  object-fit: cover;
  cursor: pointer;
}

.saveButtons {
  display: flex;
  gap: 0.8rem;
}

.inputField {
  display: flex;
  width: 100%;
  gap: 0.25rem;
}

.rightSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}

.inputCoordinateArea {
  background-color: #eeeeee5b;
  border: none;
  min-width: 50px;
  border-radius: 0.875rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  height: fit-content;
}
