.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.rightSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbarLinks {
  display: flex;
  align-items: center;
  gap: 2rem;
}
